.password-container {
  max-width: 500px;
  margin: 0 auto;
  padding-top: 2rem;
}

.welcome-text {
  text-align: center;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.instruction-text {
  text-align: center;
  margin-bottom: 2rem;
}

.password-input {
  margin-bottom: 1.5rem;
  --background: var(--ion-color-light);
  border-radius: 8px;
}

.password-requirements {
  margin: 1rem 0 2rem;
  text-align: center;
  font-size: 0.9rem;
}

.submit-button {
  margin-top: 1rem;
  --border-radius: 8px;
  height: 50px;
  font-weight: bold;
}
